@media (max-width: 850px){
    body {
        margin: 0; /* Remove as margens padrão */
        padding: 0; /* Remove o padding padrão */
        height: 100vh; /* Define a altura como 100% da viewport */
        width: 100%; /* Certifica-se de que a largura ocupe toda a tela */
        box-sizing: border-box; /* Inclui bordas e padding no cálculo do tamanho total */
      }
    .imgLogo {
        display: none;
    }
    .home-text{
        margin: auto;
        width: 70%;
        text-align: center;
    }
    .button{
        margin: 10px auto;
    }
    .card-cardapio img{
        width: 20%;
        height: 150px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer a{
        margin-bottom: 10px;
    }
}