@media (max-width: 850px){

    nav ul li p{
        margin-top: 20px;
        font-size: 15px;  
    }
    .imgLogo {
        display: none;
    }
    .home-text{
        margin: auto;
        width: 70%;
        text-align: center;
    }
    .button{
        margin: 10px auto;
    }
    .card-text{
        width: 100%;
    }
    .card-cardapio img{
        width: 20%;
        height: 150px;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer a{
        margin-bottom: 10px;
    }
}